# hidden files, compiled bytecode
*.DS_Store
*__pycache__/*
*.ipynb_checkpoints/*
.vscode*

# Unresolved methods
llama-cpp/
dead-ends/

# Potential PHI: input, output, & checkpoint files
data/
results/
ollama-classifier/results/*
*.xlsx
*.xlsx.csv

# Repos, models
preprocess/philter-ucsf
*hf_models*
*OllamaToGGUF*

# Helper, test, debugging scripts (not final versions)
*.ipynb
!qualtrics.ipynb
!sample.ipynb


